# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ files
.idea

webserver.log

.metadata

.DS_Store

/node_modules

.venv
*.venv
/venv
# Ignore placeholder web server uploads
placeholder_web_server/uploads
