# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ files
.idea

webserver.log

.metadata

.DS_Store

./node_modules

/node_modules

.vscode/

out/

buildSrc

app/bin

.project

.settings
