# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ files
.idea

# Ignore placeholder web server uploads
placeholder_web_server/uploads
