.landing {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
    width: 100vw !important;
    position: relative !important;
    z-index: 9999 !important;
    overflow-x: hidden !important;
    max-width: 100%;        
}